.productbox {
  background-color:#ffffff;
padding:10px;
margin-bottom:10px;
-webkit-box-shadow: 0 8px 6px -6px  #999;
   -moz-box-shadow: 0 8px 6px -6px  #999;
        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
  font-weight:bold;
padding:5px 0 5px 0;
}

.productprice {
border-top:1px solid #dadada;
padding-top:5px;
}

.pricetext {
font-weight:bold;
font-size:1.4em;
}

.dropdown{

margin:0px 40px 0px 0px ;

}
.container{
margin: 0px;
width: 20%;

}
tr{

height:50px;

}
.qty{
  border: 1px solid rgb(180, 56, 56);
 text-align: center;
  width :50px;
  margin:10px;
  height: 29px;
}
.btn btn-danger btn-sm{
  margin: 0px 40px 0px 0px;
  width: 500px;
  
}
th{
 text-align: center;
  width: 150px;
}